<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://sql6.freemysqlhosting.net:3306/sql6132164?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">sql6132164</property>
    <property name="hibernate.connection.password">SYAdHYj9d7</property>
  </session-factory>
</hibernate-configuration>
